@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@200&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: rgb(231, 66, 0);
    font-family: 'Roboto Serif', sans-serif;
}
.container{
    border: 1px solid orange;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 5rem;
    text-transform: uppercase;
}
.timer{
    padding-bottom: 3rem;
}
h3{
    font-size: 2.5rem;
}
button{
    padding: 1rem 4rem 1rem 4rem;
    margin-left: 15px;
    outline: none;
    background: transparent;
    color: wheat;
    border: 1px solid white;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
}
button:hover{
    background-color: white;
    color: black;
}